
body{
    background-color: #a7a7a7;
}
.page-title {
    font-weight: bold;
    text-decoration: underline;
    color: black;
}
/* -------------------------------------------base.html */
/* Nav Bar */
.navbar {
    background-color: black !important;
}

.navbar .navbar-brand,
.navbar .navbar-text,
.navbar .nav-link {
    color: white !important;
}

.navbar .nav-link.active {
    font-weight: bold;
    text-decoration: underline;
    color: white !important;
}

.navbar .navbar-toggler {
    border-color: white !important;
}
/* Footer */
.footer {
    background-color: black !important;
    color: white !important;
}

.footer p {
    color: white !important;
}

.footer i {
    color: white !important;
}

.footer a {
    color: white !important;
    text-decoration: none;
}

.footer a:hover {
    color: #ccc !important;
    text-decoration: underline;
}

/* ----------------------------------index.htmls */
/* Avaible Class */
.card-body {
    border: 6px solid rgb(0, 0, 0); 
    background-color: #353535;
}

.card-title {
    text-align: center;
    color: #ccc;
    text-decoration: underline;
}
.card-text {
    text-align: center;
    color: #ccc;
}

.btn-booking {
    background-color: #585757;
    color: #fdfdfd;
}
.btn-booking:hover {
    background-color: #020202;
    color: #fdfdfd;
}

.btn-view-booking {
    background-color: #324700;
    color: #FAF9F6;
    
}
.btn-view-booking:hover{
    background-color: #ffffff;
    color: #050505;
    
}

.page-link {
    background-color: #020202;
    color: #ffffff;
}
.page-link:hover {
    background-color: #324700;
    color: #FAF9F6;
}
/* Login in and out message */
.login-message {
    max-width: 600px;
    width: 100%;
    padding: 1.5rem 2rem;
    background-color: #d4edda; 
    color: #155724; 
    border: 1px solid #c3e6cb;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}

/* Optional for smaller screens */
@media (max-width: 576px) {
    .login-message {
        width: auto; 
        padding: 1rem;
    }
}

/* ----------------------------------booking_form.html and edit_booking.html */
.booking-form {
    text-align: center;
    padding: 10px 0 10px 0;
    margin: auto;
}

.form-area {
    background: #f8f9fa; 
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sumbit-btn {
    background-color: #324700;
    color: #FAF9F6;
    margin: 0 auto;
}
.sumbit-btn:hover {
    background-color: #7fb600;
    color: #000000;}

@media (max-width: 576px) {
    .form-area {
        width: 90%; /* Make the form take up more space on small screens */
    }
    #id_further_information{
        width: 85%;
    }
    
}
@media (min-width: 1440px) {
    .form-area {
        width: 45%;
    }
}

/* --------------------------------------------------booking_list.htmls */
.btn-collapse {
    color: #cccccc;
}
.btn-collapse:hover {
    color: #577c00;
}
#collapseinfo {
    color: white;
    text-align: center;
}
/* Boooked, edit and delete message */
.booking-message {
    max-width: 600px;
    width: 100%; 
    padding: 1rem 1.5rem; 
    background-color: #855600; 
    color: #ffffff; 
    border: 1px solid #f5c2c7; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
