<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Views Part 1</title>
    </head>

    <body>
        <div>
            <h1>Available Gym Classes</h1>
            {% if gym_classes %}
                {% for gym_class in gym_classes %}
                    <div>
                        <h2>{{ gym_class.name }}</h2>
                        <p><strong>Description:</strong> {{ gym_class.description }}</p>
                        <p><strong>Date:</strong> {{ gym_class.date }} at {{ gym_class.time }} </p>
                        <p><strong>Duration:</strong> {{ gym_class.duration }}</p>
                        <p><strong>Price:</strong> ${{ gym_class.price }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No gym classes available at the moment.</p>
            {% endif %}
        </div>
    </body>
</html>