{% extends "base.html" %}
{% load static %}

{% block content %}

{% if messages %}
    <div class="d-flex justify-content-center">
        {% for message in messages %}
            <div class="alert login-message text-center">
                <p>{{ message }}</p>
            </div>
            
        {% endfor %}
    </div>
{% endif %}

<div class="container py-5">
    <div class="d-flex flex-column align-items-center pb-5">
        <h1 class="text-center mb-4 page-title">Available Gym Classes</h1>
        <div class="d-flex justify-content-center mt-3">
            <a href="{% url 'booking_list' %}"class="btn btn-lg btn-view-booking" role="button">
            View my Bookings
            </a>
        </div>
    </div>

    {% if gym_classes %}
<div class="row">
    {% for gym_class in gym_classes %}
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ gym_class.name }}</h5>
                    <div>
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                            alt="placeholder image">
                        {% else %}
                        <img class="card-img-top" src=" {{ post.featured_image.url }}"
                            alt="{{ post.title }}">
                        {% endif %}
                    </div>
                    <!-- Button to trigger modal -->
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-light btn-sm mb-2" 
                                data-bs-toggle="modal" 
                                data-bs-target="#descriptionModal-{{ gym_class.id }}">
                            View Description
                        </button>
                    </div>
                    <p class="card-text"><strong>Date:</strong> {{ gym_class.date }} at {{ gym_class.time }}</p>
                    <p class="card-text"><strong>Duration:</strong> {{ gym_class.duration }}</p>
                    <p class="card-text"><strong>Price:</strong> £{{ gym_class.price }}</p>
                    <div class="d-flex justify-content-center mt-3">
                        <a href="{% url 'new_booking' gym_class.id %}" class="btn btn-md btn-booking" role="button">
                            Create a Booking
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for Gym Class -->
        <div class="modal fade" id="descriptionModal-{{ gym_class.id }}" tabindex="-1" 
             aria-labelledby="descriptionModalLabel-{{ gym_class.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="descriptionModalLabel-{{ gym_class.id }}">
                            {{ gym_class.name }} - Description
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ gym_class.description }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
<p>No gym classes available.</p>
{% endif %}

    {% if is_paginated %}
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}"
                  class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>


<!-- index.html content ends here -->
{% endblock %}

{% block copyright %}
    Copyright 2024 Onyx Gym
{% endblock %}